.about-us {
    &__text {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 300;
    }
}

@media (min-width: 860px) {
    .about-us {
        &__text {
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }
}