.other-info {
    &__image {
        width: 100%;
        height: auto;
        &-block {
            box-shadow: 0 0 40px $black-box-shadow;
            border-radius: 10px;
            overflow: hidden;
            line-height: calc(100% - 3px);
            max-width: 740px;
        }
    }
    &__text {
        margin: 24px 0;
        padding: 0;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: $black-main;
    }
}

@media (min-width: 860px) {
    .other-info {
        &__text {
            margin: 60px 0;
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }
}