
.stages-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    &__item {
        position: relative;
    }
}

.stage {
    padding: 0 0 20px 50px;
    margin: 0;
    &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
    &-description {
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 6px;
        margin-right: 10px;
        width: 10px;
        height: 10px;
        border: 5px solid $blue-main;
        border-radius: 50%;
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        left: 15px;
        top: 20px;
        border-left: 2px solid $black-main;
        height: calc(100% - 20px);
    }
    &_active::before {
        left: 0;
        width: 18px;
        height: 18px;
        border: 7px solid $blue-main;
    }
    &_active::after {
        top: 32px;
        height: calc(100% - 32px);
    }
    &_last:after {
        border-left: 2px dashed $black-main;
        height: calc(50%);
    }
}

@media screen and (min-width: 860px) {
    .stage {
        padding-left: 80px;
        padding-bottom: 40px;
        &-title {
            font-size: 2rem;
            line-height: 2.2rem;
        }
        &-description {
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 5px;
            margin-right: 10px;
            width: 16px;
            height: 16px;
            border: 7px solid $blue-main;
            border-radius: 50%;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            left: 19px;
            top: 30px;
            border-left: 2px solid $black-main;
            height: calc(100% - 30px);
        }
        &_active::before {
            left: 0;
            width: 22px;
            height: 22px;
            border: 9px solid $blue-main;
        }
        &_active::after {
            top: 40px;
            height: calc(100% - 40px);
        }
        &_last:after {
            border-left: 2px dashed $black-main;
            height: calc(50%);
        }
    }
}

@media screen and (min-width: 1000px) {
    .stages-list {
        width: 50%;
    }
}