.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    &-list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
    &-card {
        width: 100%;
        max-width: 410px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px $black-box-shadow;
        &__link {
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            color: inherit;
            &:focus {
                outline: none;
            }
        }
        &__image {
            width: 100%;
            height: auto;
            &-block {
                display: block;
                width: 80px;
                height: 80px;
                margin-right: 10px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                overflow: hidden;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__description-short {
            display: none;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $gray-opacity-075;
        }
        &__hashtag {
            display: block;
            background-color: $blue-main;
            color: $white;
            border-radius: 10px;
            padding: 1px 5px;
            align-self: flex-start;
            text-decoration: none;
            outline: none;
            align-self: flex-start;
            &:hover {
                background-color: $blue-main-hover;
            }
            &:focus {
                background-color: $blue-main-focus;
            }
        }
        &__title {
            display: block;
            font-size: 1.2rem;
            line-height: 1.4rem;
            font-weight: bold;
        }
        &__meta {
            display: flex;
            justify-content: flex-end;
            &__read-more {
                display: none;
                position: relative;
                color: $gray-opacity-05;
                font-size: 1.2rem;
                line-height: 1.4rem;
                padding-right: 25px;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    width: 16px;
                    height: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url('../img/arrow-right.svg');
                }
            }
            &__date {
                display: block;
                color: $gray-opacity-05;
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }
    }
}

@media (min-width: 450px) {
    .news {
        padding-bottom: 65px;
        &-list {
            flex-direction: row;
            flex-wrap: wrap;
        }
        &-card {
            margin: 10px;
            box-shadow: none;
            border-radius: 0;
            width: 45%;
            padding: 0;
            &__link {
                flex-direction: column;
            }
            &__image {
                &-block {
                    width: 100%;
                    height: unset;
                    margin: 0 0 15px;
                    box-shadow: 0px 0px 40px $black-box-shadow;
                }
            }
            &__hashtag {
                font-size: 1.2rem;
                line-height: 1.4rem;
                margin-bottom: 15px;
            }
            &__title {
                font-size: 1.8rem;
                line-height: 2rem;
                font-weight: bold;
                margin-bottom: 10px;
            }
            &__description-short {
                display: block;
                margin-bottom: 10px;
            }
            &__meta {
                justify-content: space-between;
                &__read-more {
                    display: block;
                    padding-right: 25px;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    z-index: -1;
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        right: 0;
                        width: 16px;
                        height: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: url('../img/arrow-right.svg');
                    }
                }
            }
        }
        &__footer-link {
            padding: 0 25px 0 0;
            background-color: transparent;
            color: $gray-opacity-05;
            position: relative;
            border-radius: 0;
            &::after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                width: 16px;
                height: 10px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.3s;
                background: url('../img/arrow-right.svg');
            }
            &:hover {
                background-color: transparent;
                color: $black-opacity-07;
            }
            &:focus {
                background-color: transparent;
                color: $black-main;
                text-decoration: underline;
            }
        }
    }
}
@media (min-width: 860px) {
    .news {
        &-card {
            margin: 2%;
            width: 29%;
        }
    }
}