// ссылки на соц сети
.social-link {
    margin-right: 10px;
    text-decoration: none;
    outline: none;
    &__image-path {
        fill: $blue-main;
    }
    &:hover &__image-path {
        fill: $blue-main-hover  ;
    }
    &:focus &__image-path {
        fill: $blue-main-focus;
    }
}

// кнопка - ссылка
.link_button {
    color: $white;
    padding: 10px 30px;
    background-color: $blue-main;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    &:hover {
        background-color: $blue-main-hover;
    }
    &:focus {
        background-color: $blue-main-focus;
    }
}

// Контакты
.contacts-item {
    padding-left: 25px;
    position: relative;
    &_phone::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background: url('../img/phone-icon.svg') no-repeat center;
    }
    &_email::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background: url('../img/email-icon.svg') no-repeat center;
    }
}

// стили для формы
.form {
    &-group {
        &__input {
            font-family: 'Roboto', sans-serif;
            border: 1px solid $gray-opacity-05;
            padding: 10px;
            color: $black-main;
            border-radius: 10px;
            background-color: $white;
            &:focus {
                outline: none;
                border-color: $blue-main;
            }
            &::-webkit-input-placeholder {
                color: $gray-opacity-05;
            }
            &::-moz-placeholder {
                color: $gray-opacity-05;
            }
            &:-ms-input-placeholder {
                color: $gray-opacity-05;
            }
            &::-ms-input-placeholder {
                color: $gray-opacity-05;
            }
            &::placeholder {
                color: $gray-opacity-05;
            }
        }
        &__textarea {
            font-family: 'Roboto', sans-serif;
            border: 1px solid $gray-opacity-05;
            padding: 10px;
            color: $black-main;
            border-radius: 10px;
            background-color: $white;
            &:focus {
                outline: none;
                border-color: $blue-main;
            }
            &::-webkit-input-placeholder {
                color: $gray-opacity-05;
            }
            &::-moz-placeholder {
                color: $gray-opacity-05;
            }
            &:-ms-input-placeholder {
                color: $gray-opacity-05;
            }
            &::-ms-input-placeholder {
                color: $gray-opacity-05;
            }
            &::placeholder {
                color: $gray-opacity-05;
            }
        }
    }
}

// стили для кнопки
.button {
    color: $white;
    padding: 10px 25px;
    background-color: $blue-main;
    font-size: 18px;
    line-height: 21px;
    border-radius: 10px;
    border: none;
    &:hover {
        background-color: $blue-main-hover;
    }
    &:focus {
        outline: none;
        background-color: $blue-main-focus;
    }
}

// для спсика с подсписком
.with-sublist {
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 23px;
        right: 5px;
        height: 0;
        width: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $black-main;
    }
}

// Заголовок старницы
.page-title {
    font-weight: normal;
    font-size: 3.6rem;
    line-height: 4.2rem;
    padding: 0;
    margin: 24px 0 10px;
    @media (min-width: 860px) {
        font-size: 7.2rem;
        line-height: 8.4rem;
        margin: 60px 0;
    }
}

// Постраничная пагинация
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    &__list {
        margin: 0 0 50px;
        padding: 0;
        display: flex;
        list-style: none;
        &-item {
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $white-blue-main;
            &_active {
                background-color: $blue-main;
            }
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
    &__page {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: $gray-opacity-05;
        letter-spacing: -1px;
        &:hover, &:focus {
            color: $black-main;
        }
        &_active {
            color: $white;
            &:hover, &:focus {
                color: $white;
            }
        }
    }
    &__arrow {
        text-decoration: none;
        position: relative;
        display: block;
        height: 100%;
        width: 10px;
        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            padding: 2px 6px;
            border-radius: 10px;
            background-color: $blue-main;
            transform: translateY(-50%);
        }
        &:hover {
            &::before, &::after {
                background-color: $blue-main-hover;
            } 
        }
        &:focus {
            &::before, &::after {
                background-color: $blue-main-focus;
            } 
        }
        &_left {
            &::before {
                left: 2px;
                transform-origin: left bottom;
                transform: translateY(-1px) rotate(-45deg);
            }
            &::after {
                left: 2px;
                transform-origin: left top;
                transform: translateY(-2px) rotate(45deg);
            }
        }
        &_right {
            &::before {
                right: 2px;
                transform-origin: right bottom;
                transform: translateY(-1px) rotate(45deg);
            }
            &::after {
                right: 2px;
                transform-origin: right top;
                transform: translateY(-2px) rotate(-45deg);
            }
        }
        &-item {
            background-color: transparent;
        }
    }
}

// Хештеги
.hashtag {
    display: inline-block;
    padding: 2px 7px;
    background-color: $blue-main;
    color: $white;
    border-radius: 10px;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

// Даты 
.date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $gray-opacity-05;
}

// кнопка наверх
/* .scroll-top-button {
    text-decoration: none;
    position: absolute;
    display: block;
    
    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        padding: 2px 6px;
        border-radius: 10px;
        background-color: $blue-main;
        transform: translateY(-50%);
    }
    &:hover {
        &::before, &::after {
            background-color: $blue-main-hover;
        } 
    }
    &:focus {
        &::before, &::after {
            background-color: $blue-main-focus;
        } 
    }
    &_left {
        &::before {
            left: 2px;
            transform-origin: left bottom;
            transform: translateY(-1px) rotate(-45deg);
        }
        &::after {
            left: 2px;
            transform-origin: left top;
            transform: translateY(-2px) rotate(45deg);
        }
    }
} */

.scroll-top-button {
    display: block;
    background-color: $blue-main;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 20px;
    transition: background-color .3s, opacity .3s, visibility .3s;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: calc(50% - 2px);
        padding: 2px 8px;
        border-radius: 10px;
        background-color: $white;
        transform: translateY(-50%);
    }
    &:hover {
        cursor: pointer;
        background-color: $blue-main-hover;
    }
    &:focus {
        cursor: pointer;
        background-color: $blue-main-focus;
    }
    &::before {
        transform: translate(calc(-100% + 6px), -3px) rotate(-45deg);
        /* transform: translateX(-100%) rotate(-45deg); */
    }
    &::after {
        transform: translate(-1px, -3px) rotate(45deg);
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 1600px) {
    .scroll-top-button {
        bottom: 50px;
        right: 100px;
    }
}