$black-main: #2B2C34;
$black-main-hover: #060607;
$black-main-focus: #000000;
$black-opacity-07: rgba($black-main, 0.7);
$black-background: rgba(#000000, 0.8);
$black-box-shadow: rgba(#000000, 0.2);

$gray-opacity-05: rgba(43, 44, 52, 0.5);
$gray-opacity-075: rgba(43, 44, 52, 0.75);

$blue-main: #285BD4;
$blue-main-hover: #1949BA;
$blue-main-focus: #1641A4;

$white-blue-main: #E2E9FB;
$white: #FFFFFE;
$white-gray: #F8F9FA;