@import './_variables.scss';
@import './_usefull.scss';
@import './_header.scss';
@import './_main.scss';
@import './_projects.scss';
@import './_news.scss';
@import './_infographic.scss';
@import './_feedback.scss';
@import './_footer.scss';
@import './_rewrites.scss';

@font-face {
    font-family: "Roboto";
    src: 
        url("../fonts/Roboto/Roboto-Bold.ttf") format("ttf"),
        url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("ttf"),
        url("../fonts/Roboto/Roboto-Italic.ttf") format("ttf"),
        url("../fonts/Roboto/Roboto-Light.ttf") format("ttf"),
        url("../fonts/Roboto/Roboto-LightItalic.ttf") format("ttf"),
        url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: $black-main;
}
main {
    min-height: calc(100vh - 60px);
}

.wrapper {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    &_center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_row {
        display: flex;
        justify-content: space-between;
    }
    &_padding-15 {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.section {
    &-title {
        margin: 24px 0 24px;
        padding: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 2.1rem;
    }
}

// Анимации
@-webkit-keyframes opacity-in {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity-in {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 576px) {
    .wrapper {
        &_padding-15 {
            padding-right: 50px;
            padding-left: 50px;
        }
    }
}
@media (min-width: 1400px) {
    .wrapper {
        &_padding-15 {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
@media (min-width: 860px) {
    main {
        min-height: calc(100vh - 200px);
    }
    .section {
        &-title {
            font-size: 3.6rem;
            line-height: 4.2rem;
            margin: 60px;
        }
    }
}